/* CSS - Texto con Degradado */
.fluido {
    animation: fluido 4s ease-in-out infinite;
    background: linear-gradient(-45deg, #7e0c0c, #CD1818, #E45826, #FF6701, #FA7D09, #FF8C32);
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
@keyframes fluido {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
}

/* FONTS */
@font-face {
    font-family: "GrandGalaxy";
    src: url("../../fonts/GrandGalaxy.otf");
}

img {
    width: 50px;
    padding-left: 15px;
}   

h1 {
    font-family: "GrandGalaxy";
    font-size: 1.8rem;
    margin: 0;
}